name: 'Terraform'

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  terraform-plan:
    name: 'Terraform Plan'
    runs-on: ubuntu-latest
    environment: production
    
    #using env secrets is the prefered approach for CI/CD tools. AZ login only works for user accounts and not for service principals.
    env:
      ARM_CLIENT_ID: "${{ secrets.ARM_CLIENT_ID }}"
      ARM_CLIENT_SECRET: "${{ secrets.ARM_CLIENT_SECRET }}"
      ARM_SUBSCRIPTION_ID: "${{ secrets.ARM_SUBSCRIPTION_ID }}"
      ARM_TENANT_ID: "${{ secrets.ARM_TENANT_ID }}"
      GITHUB_OWNER: "${{ github.repository_owner }}"
      TF_VAR_repo_full_name: "${{ github.repository }}"

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2

    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      
    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      run: terraform init

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform Format
      run: terraform fmt -check

    # Generates an execution plan for Terraform
    # An exit code of 2 indicates there were changes detected and will throw an error. Just continue for now, we'll check next step
    - name: Terraform Plan
      run: terraform plan -detailed-exitcode -nocolor -out tfplan || exit 0
      id: tf-plan

      # consider publishing error to PR
    - name: Check Terraform Plan Exit Code
      run: |
        if [ ${{ steps.tf-plan.outputs.exitcode }} -eq 1 ]; then
          echo Terraform Plan Failed!
          exit 1
        fi

    # Save plan to artifacts  
    - name: Publish Terraform State
      uses: actions/upload-artifact@v2.2.4
      with:
        name: tfplan
        path: tfplan
      
    # If this is a PR post the changes
    # todo does this work if i push another commit to the PR?
    - name: Push Terraform Output to PR
      if: github.ref != 'refs/heads/main'
      uses: actions/github-script@v2
      env:
          PLAN: "${{ steps.tf-plan.outputs.stderr }}\n${{ steps.tf-plan.outputs.stdout }}"
      with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
               const output = ` ### Terraform Plan Report

                \`\`\`${process.env.PLAN}\`\`\` `;

                github.issues.createComment({
                    issue_number: context.issue.number,
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    body: output
                 })

# If this isn't PR do a job to apply

#checkout 

#tf setup

#tf init

#download plan artifact

#tf apply
